# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
node_modules
.idea
.pnp
.pnp.js

# testing
coverage

# production
build
client/src/contracts/*json
client/*/src/contracts

# misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
wallet.json
.vscode

#Hardhat files
cache
artifacts

coverage
coverage.json
typechain
typechain-types
